* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand' sans-serif;
    font-weight: bold; 
}

.containerCadastro {
    position: relative;
  background: #f9f9d5;
  padding: 30px;
  border-radius: 12px;
  max-width: 800px;
  margin: 50px auto;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.1);
  text-align: center;
  margin-top: 180px;
}

.cadastreInformacoes {
  font-size: 2.5rem;
  color: #2e7d32;
  margin-bottom: 20px;
}

.formularioCadastro {
  gap: 20px;
  margin-top: 20px;
}

.informacoes {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.inputCadastro{
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #d4f5d4;
  font-size: 14px;
}

.upload {
  padding: 15px;
  border: 2px dashed #8fbc8f;
  border-radius: 6px;
  background-color: #f0fff0;
  color: #8fbc8f;
  text-align: center;
  cursor: pointer;
}

.checkboxes {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: start;
}

.botaoCadastrar {
  margin-top: 20px;
  padding: 12px;
  width: 200px;
  background-color: #2e7d32;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.botaoVoltar {
  position: absolute;
  top: 20px;
  right: 20px; 
  background: #2e7d32;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}